<ion-view view-title="起重机械">
    <ion-content padding="false" has-bouncing="true">
        <div class="list list-inset">            
            <div class="item">
                备案编号
                <span class="item-note">{{beiandetail.BeiAnICP}}</span>
            </div>
            <div class="item">
                安装单位
                <span class="item-note">{{beiandetail.InstallUnitName}}</span>
            </div> 
            <div class="item">
                安装日期
                <span class="item-note">{{beiandetail.InstallDate}}</span>
            </div>             
            <div class="item">
                检测单位
                <span class="item-note">{{beiandetail.CheckUnitName}}</span>
            </div>   
            <div class="item">
                检测日期
                <span class="item-note">{{beiandetail.CheckDate}}</span>
            </div>   
            <div class="item">
                工地编号
                <span class="item-note">{{beiandetail.SiteNo}}</span>
            </div>    
            <div class="item">
                <div class="imgitem" ng-repeat="photo in photos"><img ng-click="showPic('{{checkdetail.WebApiUrl}}{{photo.PicPath}}')" ng-src="{{photo.PicPath_s}}" /></div>
                <div class="imgitem imgitem-border"><i class="ion-ios-camera plussize" ng-click="showActionsheet()"></i></div>
            </div> 
            <div class="item">
                <div class="imgitem" ng-repeat="photo in photos2"><img ng-click="showPic('{{checkdetail.WebApiUrl}}{{photo.PicPath}}')" ng-src="{{photo.PicPath_s}}" /></div>
                <div class="imgitem imgitem-border"><i class="ion-ios-camera plussize" ng-click="showActionsheet2()"></i></div>
            </div>  
        </div>
    </ion-content>
</ion-view>
