<ion-tabs class="tabs-icon-top tabs-stable tabs-color-active-positive">

  <!-- 备案监控 Tab -->
  <!--<ion-tab title="备案监控" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/menus/monitor/main">
    <ion-nav-view name="menus-monitor"></ion-nav-view> 
  </ion-tab>-->

     <!-- 日常信息 Tab -->
  <ion-tab title="日常信息" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/menus/daily/main">
    <ion-nav-view name="menus-daily"></ion-nav-view> 
  </ion-tab>

  <!-- 移动执法 Tab -->
  <ion-tab title="移动执法" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/menus/check/projects">
    <ion-nav-view name="menus-check"></ion-nav-view>
  </ion-tab>

    <!--<ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/menus/home">
        <ion-nav-view name="menus-home"></ion-nav-view>
    </ion-tab>-->
    <!-- 项目看板 Tab -->
    <ion-tab title="项目看板" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/menus/board/projects">
        <ion-nav-view name="menus-board"></ion-nav-view>
    </ion-tab>
  <!-- 系统设置 Tab -->
  <ion-tab title="系统设置" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/menus/account/main">
    <ion-nav-view name="menus-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
