<ion-view view-title="单位信息">
    <ion-content padding="false" has-bouncing="true">
        <div class="list list-inset">            
            <div class="item">
                单位名称
                <span class="item-note">{{companydetail.CompanyName}}</span>
            </div>
            <div class="item">
                单位类型
                <span class="item-note">{{companydetail.CompanyType}}</span>
            </div> 
            <div class="item">
                单位地址
                <span class="item-note">{{companydetail.CompanyAddress}}</span>
            </div> 
            <div class="item">
                技术代表
                <span class="item-note">{{companydetail.TecPerson}}</span>
            </div> 
            <div class="item">
                联系电话
                <span class="item-note">{{companydetail.LinkPhone}}</span>
            </div> 
            <div class="item">
                公司网址
                <span class="item-note">{{companydetail.WebUrl}}</span>
            </div> 
            <div class="item">
                传真号码
                <span class="item-note">{{companydetail.Fax}}</span>
            </div> 
        </div>
    </ion-content>
</ion-view>
