<ion-view view-title="单位信息">
    <ion-content padding="false" has-bouncing="true">
        <div class="list list-inset">            
            <div class="item">
                单位名称
                <span class="item-note">杭州品茗科技有限公司</span>
            </div>  
            <div class="item">
                单位类型
                <span class="item-note">施工单位</span>
            </div>  
            <a class="item">
                单位地址
                <span class="item-note">未知</span>
            </a> 
            <a class="item">
                技术代表
                <span class="item-note">未知</span>
            </a>
            <a class="item">
                联系电话
                <span class="item-note">未知</span>
            </a>
            <a class="item">
                公司网址
                <span class="item-note">未知</span>
            </a>
            <a class="item">
                传真号码
                <span class="item-note">未知</span>
            </a>
        </div>
    </ion-content>
</ion-view>
