<ion-view view-title="工程信息">
    <ion-content padding="false" has-bouncing="true">
        <div class="list list-inset">
            <div class="item">
                工程名称
                <span class="item-note fixwidth">{{projectdetail.ProjectName}}</span>
            </div>
            <div class="item">
                区域地址
                <span class="item-note">{{projectdetail.AreaAddress}}</span>
            </div>
            <div class="item">
                工程地址
                <span class="item-note fixwidth">{{projectdetail.ProjectAddress}}</span>
            </div>
            <div class="item">
                监管机构
                <span class="item-note">{{projectdetail.StationName}}</span>
            </div>
            <div class="item">
                施工单位
                <span class="item-note">{{projectdetail.ContractorCompanyName}}</span>
            </div>
            <div class="item">
                监理单位
                <span class="item-note">{{projectdetail.SupervisionCompanyName}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>
