<ion-view view-title="人员详情">
    <ion-content padding="false" has-bouncing="true">
        <div class="list list-inset">            
            <div class="item">
                姓名
                <span class="item-note">{{persondetail.TrueName}}</span>
            </div>
            <div class="item">
                电话
                <span class="item-note">{{persondetail.Phone}}</span>
            </div> 
            <div class="item">
                身份证
                <span class="item-note">{{persondetail.IdentityCard}}</span>
            </div> 
            <!--<div class="item">
                证书名称
                <span class="item-note">{{persondetail.CerName}}</span>
            </div>--> 
            <div class="item">
                证书编号
                <span class="item-note">{{persondetail.CerNo}}</span>
            </div>            
        </div>
    </ion-content>
</ion-view>
