<ion-view view-title="检查详情">
  <ion-content class="padding">
      <div class="list">
          <div class="item">
              工程名称
              <span class="item-note">{{checkdetail.ProName}}</span>
          </div>
          <label class="item item-input item-select">
              <div class="input-label">
                  检查类型
              </div>
              <select ng-model="checkdetail.CheckType">
                  <option value="0">安全检查</option>
                  <option value="1">质量检查</option>
              </select>
          </label>
          <label class="item item-input item-select" ng-if="checkdetail.CheckType==0">
              <div class="input-label">
                  检查方式
              </div>
              <select ng-model="checkdetail.CheckMode">
                  <option value="21">建设单位安全生产行为</option>
                  <option value="22">施工单位安全生产行为</option>
                  <option value="23">监理单位安全生产行为</option>
                  <option value="24">建设工程安全生产监督抽查</option>
                  <option value="25">建设工程安全生产约谈</option>
                  <option value="26">行政处罚</option>
                  <option value="31">春季复工</option>
                  <option value="32">扬尘控制</option>
                  <option value="33">深基坑</option>
                  <option value="34">机械设备</option>
                  <option value="35">高支模</option>
                  <option value="36">脚手架</option>
                  <option value="37">安全防护</option>
                  <option value="38">现场防火</option>
              </select>
          </label>
          <label class="item item-input item-select" ng-if="checkdetail.CheckType==1">
              <div class="input-label">
                  检查方式
              </div>
              <select ng-model="checkdetail.CheckMode">
                  <option value="41">监督检查</option>
                  <!--<option value="42">现场踏勘</option>-->                  
              </select>
          </label>
          <label class="item item-input" ng-if="isedit">
              <div class="input-label">
                  检查时间
              </div>
              <input type="text" name="CheckTime" ng-model="checkdetail.CheckTime" value="{{checkdetail.CheckTime}}" />
          </label>  
          <label class="item item-input" ng-if="!isedit">
              <div class="input-label">
                  检查时间
              </div>
              <input type="date" name="CheckTime" ng-model="checkdetail.CheckTime" />
          </label> 
          <label class="item item-input">
              <div class="input-label">
                  监督员
              </div>
              <input type="text" name="checkuser" ng-model="checkdetail.CheckUser">
          </label>  
          <label class="item item-input">              
              <textarea name="checkcontent" rows="4" placeholder="检查内容" ng-model="checkdetail.Content1"></textarea>
          </label>
          <div class="item">
              <div class="imgitem" ng-repeat="photo in photos"><img ng-click="showPic('{{checkdetail.WebApiUrl}}{{photo.PicPath}}')" ng-src="{{photo.PicPath_s}}" /></div>
              <div class="imgitem imgitem-border"><i class="ion-ios-camera plussize" ng-click="showActionsheet()"></i></div> 
          </div>
          <br/>
          <button class="button button-positive button-block" ng-click="savecheck()">保存</button>       
          <button ng-if="isedit" class="button button-positive button-block" ng-click="printcheck()">打印</button>   
          <!--<button ng-if="isedit" class="button button-positive button-block" ng-click="printcheck2()">打印2</button>-->     
    </div>
  </ion-content>
</ion-view>
