<ion-view>
    <ion-nav-title>
        {{checkdetail.CheckType.name}}
    </ion-nav-title>
  <ion-content class="padding">
      <div class="list">
          <div class="item">
              工程名称
              <span class="item-note">{{checkdetail.ProName}}</span>
          </div>
          <label class="item item-input item-select" ng-if="checkdetail.CheckType.typeid==1">
              <div class="input-label">
                  检查部位
              </div>
              <select ng-model="checkdetail.SubPro" ng-options="subpro.ProName for subpro in SubPros"> 
              </select>
          </label>
          <label class="item item-input item-input" ng-if="checkdetail.CheckType.typeid==1">
              <div class="input-label">
                  检查编号
              </div>
              <input type="text" ng-model="checkdetail.CheckNunber" />
          </label>
          <label class="item item-input item-select" ng-if="checkdetail.CheckType.typeid==0">
              <div class="input-label">
                  检查方式
              </div>
              <select ng-model="checkdetail.CheckMode">
                  <option value="21">建设单位安全生产行为</option>
                  <option value="22">施工单位安全生产行为</option>
                  <option value="23">监理单位安全生产行为</option>
                  <option value="24">建设工程安全生产监督抽查</option>
                  <option value="25">建设工程安全生产约谈</option>
                  <option value="26">行政处罚</option>
                  <option value="27">其它</option>
                  <option value="31">春季复工</option>
                  <option value="32">扬尘控制</option>
                  <option value="33">深基坑</option>
                  <option value="34">机械设备</option>
                  <option value="35">高支模</option>
                  <option value="36">脚手架</option>
                  <option value="37">安全防护</option>
                  <option value="38">现场防火</option>
              </select>
          </label>
          <label class="item item-input item-select">
              <div class="input-label">
                  形象进度
              </div>
              <select ng-model="checkdetail.ItemDes">
                  <option value="未开工">未开工</option>
                  <option value="桩基">桩基</option>
                  <option value="基础">基础</option>
                  <option value="主体">主体</option>
                  <option value="装饰装修">装饰装修</option>
                  <option value="已竣工">已竣工</option>
              </select>
          </label>
          <label class="item item-input item-select" ng-if="checkdetail.CheckType.typeid==1">
              <div class="input-label">
                  天气情况
              </div>
              <select ng-model="checkdetail.F1">
                  <option value="晴">晴</option>
                  <option value="阴">阴</option>
              </select>
          </label>
          <!--<label class="item item-input item-select" ng-if="checkdetail.CheckType.typeid==1">
              <div class="input-label">
                  检查方式
              </div>
              <select ng-model="checkdetail.CheckMode">
                  <option value="41">监督检查</option>
                  <option value="42">现场踏勘</option>                  
              </select>
          </label>-->
          <label class="item" ng-if="isedit">  
                  检查时间
              <span class="item-note">{{checkdetail.CheckTime}}</span>
              <!--<input type="text" name="CheckTime" ng-model="checkdetail.CheckTime" value="{{checkdetail.CheckTime}}" readonly />-->
          </label>  
          <label class="item" ng-if="!isedit">    
                  检查时间      
              <span class="item-note">{{checkdetail.CheckTime}}</span>
              <!--<input type="text" name="CheckTime" ng-model="checkdetail.CheckTime" value="{{checkdetail.CheckTime}}" readonly />-->
          </label> 
          <label class="item item-input">
              <div class="input-label">
                  检查人员
              </div>
              <input type="text" name="checkuser" ng-model="checkdetail.CheckUser">
          </label>  
          <label class="item item-input item-toggle" ng-if="checkdetail.CheckType.typeid==1">
              <div class="input-label">
                  项目经理是否在岗
              </div>
              <label class="toggle toggle-balanced">
                  <input type="checkbox" ng-model="checkdetail.onjob1">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
          </label>
          <label class="item item-input item-toggle" ng-if="checkdetail.CheckType.typeid==1">
              <div class="input-label">
                  项目总监是否在岗
              </div>
              <label class="toggle toggle-balanced">
                  <input type="checkbox" ng-model="checkdetail.onjob2">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
          </label>
          <label class="item item-input item-toggle" ng-if="checkdetail.CheckType.typeid==1">
              <div class="input-label">
                  质检员是否在岗
              </div>
              <label class="toggle toggle-balanced">
                  <input type="checkbox" ng-model="checkdetail.onjob3">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
          </label>
          <label class="item item-input item-toggle" ng-if="checkdetail.CheckType.typeid==1">
              <div class="input-label">
                  安全员是否在岗
              </div>
              <label class="toggle toggle-balanced">
                  <input type="checkbox" ng-model="checkdetail.onjob4">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
          </label>
          <label class="item item-input" ng-if="checkdetail.CheckType.typeid==1">
              <div class="input-label">
                  其它应在岗人员
              </div>
              <input type="text" ng-model="checkdetail.CheckResult5">
          </label>
          <label class="item item-input" ng-if="checkdetail.CheckType.typeid==1">
              <textarea name="checkcontent" rows="4" placeholder="资料" ng-model="checkdetail.Content1"></textarea>
          </label>
          <label class="item item-input" ng-if="checkdetail.CheckType.typeid==1">
              <textarea name="checkcontent" rows="4" placeholder="实体" ng-model="checkdetail.Content2"></textarea>
          </label>
          <label class="item item-input" ng-if="checkdetail.CheckType.typeid==1">
              <textarea name="checkcontent" rows="4" placeholder="检查意见" ng-model="checkdetail.Content3"></textarea>
          </label>
          <label class="item item-input" ng-if="checkdetail.CheckType.typeid==0 && (checkdetail.CheckMode==21||checkdetail.CheckMode==22||checkdetail.CheckMode==23)">              
              <textarea name="checkcontent" rows="4" placeholder="检查内容" ng-model="checkdetail.F1"></textarea>
          </label>
          <label class="item item-input" ng-if="checkdetail.CheckType.typeid==0 && checkdetail.CheckMode==24">
              <textarea name="checkcontent" rows="4" placeholder="抽查记录" ng-model="checkdetail.F2"></textarea>
          </label>
          <label class="item item-input" ng-if="checkdetail.CheckType.typeid==0 && checkdetail.CheckMode==24">
              <textarea name="checkcontent" rows="4" placeholder="抽查意见" ng-model="checkdetail.CheckResult2"></textarea>
          </label>
          <label class="item item-input" ng-if="checkdetail.CheckType.typeid==0 && checkdetail.CheckMode>24">
              <textarea name="checkcontent" rows="4" placeholder="检查内容" ng-model="checkdetail.CheckResult2"></textarea>
          </label>
          <label class="item item-input item-toggle">
              <div class="input-label">
                  发放通知书
              </div>
              <label class="toggle toggle-assertive">
                  <input type="checkbox" ng-model="checkdetail.hasnotice">
                  <div class="track"> 
                      <div class="handle"></div>
                  </div>
              </label>
          </label>
          <div class="item item-input item-select" ng-if="checkdetail.hasnotice && checkdetail.CheckType.typeid==0">
              <div class="input-label">
                  通知书类型
              </div>
              <select ng-model="checkdetail.NoticeType">
                  <option value="1">安全隐患整改</option>
                  <option value="2">安全局部停工整改</option>
                  <option value="3">安全全面停工整改</option>
               </select>
          </div>
          <div class="item item-input item-select" ng-if="checkdetail.hasnotice && checkdetail.CheckType.typeid==1">
              <div class="input-label">
                  通知书类型
              </div>
              <select ng-model="checkdetail.NoticeType">
                  <option value="4">质量隐患整改</option>
                  <option value="5">质量局部停工整改</option>
                  <option value="6">质量全面停工整改</option>
              </select>
          </div>
          <label class="item item-input" ng-if="checkdetail.hasnotice">
              <div class="input-label">
                  通知书编号
              </div>
              <input type="text" ng-model="checkdetail.NoticeNo">
          </label>            
          <div class="item item-input" ng-if="checkdetail.hasnotice && (checkdetail.NoticeType == 5 || checkdetail.NoticeType == 2)">
              <div class="input-label">
                  整改部位
              </div>
              <input type="text" ng-model="checkdetail.StopPart">
          </div>
          <div class="item" ng-if="checkdetail.hasnotice">
              发放对象
          </div>
          <ion-list ng-if="checkdetail.hasnotice">
              <ion-checkbox ng-model="checkdetail.GrantObject1">施工单位</ion-checkbox>
              <ion-checkbox ng-model="checkdetail.GrantObject2">监理单位</ion-checkbox>
              <ion-checkbox ng-model="checkdetail.GrantObject3">建设单位</ion-checkbox>
          </ion-list>
          <label class="item item-input" ng-if="checkdetail.hasnotice">
              <textarea name="checkcontent" rows="4" placeholder="问题描述" ng-model="checkdetail.NoticeContent1"></textarea>
          </label>
          <label class="item item-input" ng-if="isedit && checkdetail.hasnotice">
              <div class="input-label">
                  发放日期
              </div>
              <input type="text" name="GrantDate" ng-model="checkdetail.GrantDate" value="{{checkdetail.GrantDate}}" />
          </label>
          <label class="item item-input" ng-if="!isedit && checkdetail.hasnotice">
              <div class="input-label">
                  发放日期
              </div>
              <input type="date" name="GrantDate" ng-model="checkdetail.GrantDate" />
          </label> 
          <label class="item item-input" ng-if="isedit && checkdetail.hasnotice">
              <div class="input-label">
                  最迟整改日期
              </div>
              <input type="text" name="MaxDoDate" ng-model="checkdetail.MaxDoDate" value="{{checkdetail.MaxDoDate}}" />
          </label>
          <label class="item item-input" ng-if="!isedit && checkdetail.hasnotice">
              <div class="input-label">
                  最迟整改日期
              </div>
              <input type="date" name="MaxDoDate" ng-model="checkdetail.MaxDoDate" />
          </label>
          <div class="item">
              <div class="imgitem" ng-repeat="photo in photos"><img ng-click="showPic('{{checkdetail.WebApiUrl}}{{photo.PicPath}}')" ng-src="{{photo.PicPath_s}}" /></div>
              <div class="imgitem imgitem-border"><i class="ion-ios-camera plussize" ng-click="showActionsheet()"></i></div> 
          </div>
          <br/>
          <button class="button button-positive button-block" ng-click="savecheck()">保存</button>       
          <!--<button ng-if="isedit" class="button button-positive button-block" ng-click="printcheck()">打印</button>-->   
          <!--<button ng-if="isedit" class="button button-positive button-block" ng-click="printcheck2()">打印2</button>-->     
    </div>
  </ion-content>
</ion-view>