<ion-view view-title="模拟监控">
    <ion-content padding="false" has-bouncing="true">
        <div class="list list-inset">
            <div class="item">
                运行时间
                <span class="item-note">1#</span>
            </div>  
            <div class="item">
                吊重
                <span class="item-note"></span>
            </div>
            <div class="item">
                安全吊重
                <span class="item-note">PM530S</span>
            </div>
            <div class="item">
                力矩百分比
                <span class="item-note">13164663707</span>
            </div>
            <div class="item">
                幅度
                <span class="item-note">2014-12-01</span>
            </div> 
             <div class="item">
                角度
                <span class="item-note">2014-12-01</span>
            </div> 
             <div class="item">
                高度
                <span class="item-note">2014-12-01</span>
            </div>   
             <div class="item">
                风速 
                <span class="item-note">2014-12-01</span>
            </div> 
            <div class="item">
                倾角 
                <span class="item-note">2014-12-01</span>
            </div>  
             <div class="item">
                钢丝绳倍率 
                <span class="item-note">2014-12-01</span>
            </div>          
        </div>
    </ion-content>
</ion-view>

