<ion-view view-title="设备详情">
    <ion-content padding="false" has-bouncing="true">
        <div class="list list-inset">            
            <div class="item">
                备案编号
                <span class="item-note">浙JQ-T00040</span>
            </div>  
            <div class="item">
                设备编号
                <span class="item-note">1#</span>
            </div>  
            <a class="item item-icon-right" href="#/menus/common/companys/1">
                施工单位
                <span class="item-note">未知</span>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#/menus/common/companys/1">
                产权单位
                <span class="item-note">未知</span>
                <i class="icon ion-ios-arrow-right"></i>
            </a> 
            <a class="item item-icon-right" href="#/menus/common/projects/1">
                工程名称
                <span class="item-note fixwidth">大汉阳地区现代有轨电车试验线试验线试验线试验线试验线</span>
                <i class="icon ion-ios-arrow-right"></i>
            </a> 

            <a class="item item-icon-right" href="#/menus/monitor/warnings">
                总报警次数
                <span class="item-note">111</span>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#/menus/monitor/warnings">
                已处理报警数
                <span class="item-note">0</span>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-right" href="#/menus/monitor/warnings">
                未处理报警数
                <span class="item-note">111</span>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <div class="button-bar">
                <a class="button button-positive" href="#/menus/monitor/device/1/info">黑匣子信息</a>
                <a class="button button-balanced">模拟监控</a>
            </div>
        </div>
    </ion-content>
</ion-view>
