<ion-view view-title="黑匣子信息">
    <ion-content padding="false" has-bouncing="true">
        <div class="list list-inset">
            <div class="item">
                设备编号
                <span class="item-note">1#</span>
            </div>  
            <div class="item">
                黑匣子编号
                <span class="item-note">010939243434</span>
            </div>
            <div class="item">
                规格型号
                <span class="item-note">PM530S</span>
            </div>
            <div class="item">
                GPRS手机号码
                <span class="item-note">13164663707</span>
            </div>
            <div class="item">
                安装日期
                <span class="item-note">2014-12-01</span>
            </div>
            <div class="item-divider">黑匣子配置</div>
            <div class="button-bar">
                <a class="button">小车变幅传感器</a>
                <a class="button">高度检测传感器</a>
            </div>
            <div class="button-bar" style="margin-top:3px;">
                <a class="button">小车变幅传感器</a>
                <a class="button">高度检测传感器</a>
            </div>
        </div>
    </ion-content>
</ion-view>
