<ion-view view-title="报警信息">
    <ion-content padding="false">
        <ion-list>
            <ion-item class="item-remove-animate"> 
                <h2>1# 浙AA-T3243242</h2>
                <p>报警信息：<span class="assertive">限位提醒</span><br />
                    起止时间：2015-7-15 09:56:53 - 10:56:53
                </p>
                <ion-option-button class="button-balanced"
                                   ng-click="edit(item)">
                    处理
                </ion-option-button>               
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
