<ion-view view-title="关于我们">
  <ion-content padding="false" has-bouncing="true">
     <div style="text-align:center;margin-top:20px;">
         <img src="res/icons/android/icon-96-xhdpi.png" /><br/>
         当前版本号：V1.0.3
     </div>
      <div class="list list-inset">
          <a class="item item-icon-right" href="#">
              功能与介绍
              <i class="icon ion-ios-arrow-right"></i>
          </a>
          <a class="item item-icon-right" href="#">
              官方网站
              <span class="item-note positive">www.pinming.cn</span>
              <i class="icon ion-ios-arrow-right"></i>
          </a>
      </div>
      <div style="text-align:center;margin-top:20px;" class="positive">
          品茗监督通用户服务条款
      </div>
      <div style="text-align:center; color:gray;">
          品茗股份 版权所有<br />
          Copyright 2016-2018 pinming <br/>
          All Rights Reserved
      </div>
</ion-content>
</ion-view>
