<ion-view view-title="我的资料">
  <ion-content padding="false" has-bouncing="true">
      <div class="list list-inset"> 
          <div class="item">
              真实姓名
              <span class="item-note">管理员</span>
          </div>       
          <div class="item">
              性别
              <span class="item-note">男</span>
          </div>   
          <div class="item-divider"></div>
          <div class="item">
              身份证号
              <span class="item-note">331082183411062960</span>
          </div>  
          <div class="item">
              执法证号
              <span class="item-note">32400324</span>
          </div>  
          <div class="item-divider"></div>
          <div class="item">
              电话号码
              <span class="item-note">0571-56075608</span>
          </div>
          <div class="item">
              手机号码
              <span class="item-note">13883838475</span>
          </div>
          <div class="item">
              电子邮箱
              <span class="item-note">support@pmsafe.com</span>
          </div>
      </div>
  </ion-content>
</ion-view>
