<ion-view view-title="我的资料">
  <ion-content padding="false" has-bouncing="true">
      <div class="list list-inset"> 
          <div class="item">
              真实姓名
              <span class="item-note">{{userinfo.TrueName}}</span>
          </div>       
          <div class="item">
              性别
              <span class="item-note">{{userinfo.Sex}}</span>
          </div>   
          <div class="item-divider"></div>
          <div class="item">
              身份证号
              <span class="item-note">{{userinfo.IDCard}}</span>
          </div>  
          <!--<div class="item">
              执法证号
              <span class="item-note">32400324</span>
          </div>-->  
          <div class="item-divider"></div>
          <div class="item">
              电话号码
              <span class="item-note">{{userinfo.Phone}}</span>
          </div>
          <div class="item">
              手机号码
              <span class="item-note">{{userinfo.TelePhone}}</span>
          </div>
          <div class="item">
              电子邮箱
              <span class="item-note">{{userinfo.Email}}</span>
          </div>
      </div>
  </ion-content>
</ion-view>
